#leaderboard-container {
	width: 20%;
	float: right;
	height: 100%;
	align-items: center;
	color: white;
	margin: 10px;
	overflow: auto;
}
#leaderboard-monthly-text {
	font-size: 35px;
	padding-bottom: 8px;
	border-bottom: 2px solid white;
	width: 100%;
	text-align: left;
	padding-left: 0px;
	margin-left: 0px;
}
.divider {
	border-bottom: 1px solid white;
}
#leaderboard-entires {
	position: relative;
	animation: slideUp 1s forwards;
	max-height: 90vh;
	width: 100%;
	display: inline-block;
	overflow: hidden;
}
@keyframes slideUp {
	from {
		top: 100%;
		}
	to {
		top: 0%;
		}
}